body{
	font-family: 'Ubuntu', sans-serif;
	color:#626262;
}

button:hover {
	background-color: #b4ad9e;
}

footer {
	background-color:#F0F0F0;
}

footer a {
	font-family: 'Playfair Display', serif;
	color:black;
	margin-right:0.5em;
}

h3 {
	font-family: 'Playfair Display', serif;
}

h4 {
	text-transform:uppercase;
	color:#b4ad9e;
	font-size:1em;
}

h4 a {
	color:#b4ad9e;
}

.grid-container {
	max-width: 84%;
}

@media only screen and (min-width: 1300px) {
	.grid-container {
		max-width: 1200px;
	}
}

.cell img {
	width:100%;
	height:auto;
}

@media only screen and (max-width: 640px) {
	.logo {
		display:block;
		margin-left:0.5em;
		margin-bottom:1em;
	}
}

.main-image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

@media only screen and (min-width: 768px) {
	.main-image {
		height:25em;
	}
}

@media only screen and (min-width: 1300px) {
	.main-image {
		height:35em;
	}
}

.menu {
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	text-align:right;
}

.menu a {
	margin-left:4rem;
	color:#626262;
}

@media only screen and (max-width: 750px) {
	.menu a {
		margin-left:0.5em;
		margin-right:0.5em;
	}
}


.newsletter {
	background-color:#F0F0F0;
	color:black;
	text-align:center;
}

.newsletter button, #e-mail {
	border:none;
	background-color:#F0F0F0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.newsletter form {
	max-width:500px;
	margin:auto;
	border-bottom:1px solid black;
}

.top-bar {
	margin-left:5%;
	margin-right:5%;
}

.webicon:hover {
	margin-right:0.5em;
}

#e-mail {
	padding:0;
	margin-bottom:0;
}

#loadbutton{
	text-align:center;
}

#loadbutton button {
	display:block;
	margin:auto;
	background-color: white;
	border: 1px solid black;
	color: #626262;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
}

#social-media {
	margin-right:4%;
}
