body{
	font-family: 'Ubuntu', sans-serif;
	color:#626262;
}

footer {
	background-color:#F0F0F0;
}

footer a {
	font-family: 'Playfair Display', serif;
	color:black;
	margin-right:0.5em;
}

h3 {
	font-family: 'Playfair Display', serif;
}

h4 {
	text-transform:uppercase;
	color:#b4ad9e;
	font-size:1em;
}

h4 a {
	color:#b4ad9e;
}

.grid-container {
	max-width: 84%;
}

.cell img {
	margin:auto;
}

.main-image {
	margin:auto;
	position: relative;
	height:25em;
	left: -2.5%;
    max-width: 106%;
}

.menu {
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	text-align:right;
}

.menu a {
	margin-left:4rem;
	color:#626262;
}

.top-bar {
	margin-left:5%;
	margin-right:5%;
}

.webicon:hover {
	margin-right:0.5em;
}


#social-media {
	margin-right:4%;
}
