body{
	font-family: 'Ubuntu', sans-serif;
	color:#626262;
}

button {
	display:block;
	margin:auto;
	background-color: white;
	border: 1px solid black;
	color: #626262;
	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
}

button:hover {
	background-color: #b4ad9e;
}

footer {
	background-color:#F0F0F0;
}

footer a {
	font-family: 'Playfair Display', serif;
	color:black;
	margin-right:0.5em;
}

h3 {
	font-family: 'Playfair Display', serif;
}

h4 {
	text-transform:uppercase;
	color:#b4ad9e;
	font-size:1em;
}

h4 a {
	color:#b4ad9e;
}

.grid-container {
	max-width: 84%;
}

.cell img {
	margin:auto;
}

.main-image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:25em;
}

.menu {
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	text-align:right;
}

.menu a {
	margin-left:4rem;
	color:#626262;
}

.newsletter {
	background-color:#F0F0F0;
	color:black;
	text-align:center;
}

.newsletter input {
	max-width:500px;
	margin:auto;
}

.top-bar {
	margin-left:5%;
	margin-right:5%;
}

.webicon:hover {
	margin-right:0.5em;
}


#loadbutton{
	text-align:center;
}

#social-media {
	margin-right:4%;
}
